:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #ee4d2d;
    --border-color: #dbdbdb;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}


html {
    /* 62.5 <=> 10px */
    font-size: 62.5%; 
    line-height: 1.6rem ; /* 1  rem = 10px*/
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@keyframes grow {
    from {
        opacity: 0;
        transform: scale(0.7);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
/* Modal CSS */

.modal {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
}

.modal__overlay {
    position: absolute; 
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    
}

.modal__body{
   
    width:500px;
    
    border-radius: 5px;
    position: relative;
    margin: auto;
    z-index: 1;
    animation: grow linear  0.3s;
}

/* Button Styles */
.btn {
    min-width: 142px;
    height: 36px;
    font-size: 1.4rem;
    text-decoration: none;
    border-radius: 2px;
    border: none;
    padding: 1px 0 0px 0px;
    cursor: pointer;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn.btn--normal:hover{
    background-color: rgba(0, 0, 0, 0.05);
}



.btn.btn--register {
    color: var(--white-color);
    background-color: var(--primary-color);
    
    
}

.btn.btn--size-s{
    height: 32px;
    padding: 0 8px;
    font-size: 1.4rem;
}

.btn.btn--disable{
    cursor: default;
    background-color: #999;
    
}

.form-hidden{
    display: none;
}


